:root {
    --dark-color: #000;
    --light-color: #fb5e91;
}

body {
    background-color: var(--light-color) !important;
    transition: background-color 2s ease;
    color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: max-content;
    display: flex;
    justify-content: center;
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 var(--dark-color);
    }
    100% {
        box-shadow: 10px 10px var(--dark-color);
    }
}

#teph2024 {
    animation: shadow 2s ease-in-out;
    background-color: var(--light-color);
    box-shadow: 10px 10px var(--dark-color);
    border-radius: 10px;
    border: 3px solid var(--dark-color);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

img#party-cat,
img#us-pic {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--dark-color);
}

hr {
    width: 100%;
    border: 1px solid var(--dark-color);
}

div#spotify-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

div#spotify-div > p {
    text-align: center;
}

/* Rotation animation */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Pulsating box-shadow animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 20px #000000b7;
    }
    50% {
        box-shadow: 0 0 40px #000000b7;
    }
    100% {
        box-shadow: 0 0 20px #000000b7;
    }
}

img#spotify-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 20px #000000b7;
    animation: rotate 4s linear infinite, pulse 2s ease-in-out infinite;
}

#friend-greetings-header {
    border-radius: 10px;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px;
    font-style: italic;
}

.friend-pic {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--dark-color);
}

.friend-greeting {
    display: flex;
    align-items: end;
    gap: 0.5em;
}

.message-bubble {
    background-color: var(--dark-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.message-bubble > p {
    color: var(--light-color);
}

#end-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

@media (max-width: 768px) {
    #teph2024 {
        width: 70% !important;
    }

    img#party-cat,
    img#us-pic {
        width: 200px;
        height: 200px;
    }
}