:root {
  --background-color: #F3F1E8;
  --text-color: #191919;
  --accent-color: #9B4819;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.welcome {
  height: 100%;
  padding: 0 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.welcome > div > h1 {
  margin: 0;
}

.welcome > p {
  width: 70vw;
}

form {
  display: flex;
  gap: 0.5em;
  padding: 1em;
}

input, button {
  font-size: 1em;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5em;
}

input {
  height: 25px;
  padding: 0.5em;
  border: 1px solid var(--accent-color);
  border-radius: 0.25em;
}

.message {
  display: none;
  margin: 0;
}

button {
  height: 40px;
  border: none;
  border-radius: 0.25em;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: center;
  width: 100%;
}

.greeting-card {
  height: max-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .welcome {
    padding: 0 1em;
  }

  .welcome > div {
    gap: 0;
    flex-direction: column;
  }

  .welcome > p {
    width: 90vw;
  }

  .card {
    width: 100%;
  }

  .greeting-card {
    width: 100%;
  }
}